In [1]:
import pandas as pd

# Define the data for each column
week = list(range(59))
weekly_7_99_values = [100, 36.4, 27.1, 22.7, 19.7, 17.4, 15.9, 14.7, 13.7, 12.9, 11.8, 11.1, 10.5, 10, 9.5, 8.8, 8.4, 8, 7.7, 7.3, 7, 6.8, 6.6, 6.4,
                      6.3, 6.1, 5.8, 5.6, 5.4, 5.3, 5.2, 5, 4.8, 4.7, 4.6, 4.5, 4.2, 4.3, 4.1, 4.1, 4, 3.9, 3.6, 3.6, 3.6, 3.6, 3.5, 3.4, 3.4, 3.2,
                      3.1, 3, 3, 2.9, 3, 2.8, 2.9]
weekly_9_99_values = [100, 31.2, 23.5, 18.2, 15.6, 12, 10.97, 10.14, 9.45, 8.9, 8.14, 7.66, 7.24, 6.9, 6.55, 6.07, 5.79, 5.52, 5.31, 5.03, 4.83,
                      4.69, 4.55, 4.41, 4.34, 4.21, 4, 3.86, 3.72, 3.66, 3.59, 3.45, 3.31, 3.24, 3.17, 3.1, 2.9, 2.97, 2.83, 2.83, 2.76, 2.69, 2.48,
                      2.48, 2.48, 2.48, 2.41, 2.34, 2.34, 2.21, 2.14, 2.07, 2.07, 2, 2.07, 1.93, 2]
monthly_17_99_values = [100, 52.1, 39.1, 31.6, 26.1, 23.5, 20, 18.7, 17.1, 15.1, 12.9, 10.5, 9.1, 8.2] + [None] * 45  # Padded with None for missing values
monthly_24_99_values = [100, 35, 26.27, 21.23, 17.53, 15.79, 13.44, 12.56, 11.49, 10.14, 8.67, 7.05, 6.11, 5.51] + [None] * 45  # Padded with None for missing values
yearly_95_99_values = [100, 12.1]

In [2]:
def pad_column(values, length):
    return values + [None] * (length - len(values))

weekly_7_99_values_padded = pad_column(weekly_7_99_values, 59)
weekly_9_99_values_padded = pad_column(weekly_9_99_values, 59)
monthly_17_99_values_padded = pad_column(monthly_17_99_values, 59)
monthly_24_99_values_padded = pad_column(monthly_24_99_values, 59)
yearly_95_99_values_padded = pad_column(yearly_95_99_values, 59)

 
data_padded = {
    'week': week,
    'weekly.7.99control': weekly_7_99_values_padded,
    'weekly.9.99treatment': weekly_9_99_values_padded,
    'monthly.17.99control': monthly_17_99_values_padded,
    'monthly.24.99treatment': monthly_24_99_values_padded,
    'yearly.95.99ccontrol': yearly_95_99_values_padded,
     'yearly.95.99treatment': yearly_95_99_values_padded

}
ab_ret = pd.DataFrame(data_padded)

ab_ret.head(16)

,week,weekly.7.99control,weekly.9.99treatment,monthly.17.99control,monthly.24.99treatment,yearly.95.99ccontrol,yearly.95.99treatment
0,0,100.0,100.00,100.0,100.00,100.0,100.0
1,1,36.4,31.20,52.1,35.00,12.1,12.1
2,2,27.1,23.50,39.1,26.27,NaN,NaN
3,3,22.7,18.20,31.6,21.23,NaN,NaN
4,4,19.7,15.60,26.1,17.53,NaN,NaN
5,5,17.4,12.00,23.5,15.79,NaN,NaN
6,6,15.9,10.97,20.0,13.44,NaN,NaN
7,7,14.7,10.14,18.7,12.56,NaN,NaN
8,8,13.7,9.45,17.1,11.49,NaN,NaN
9,9,12.9,8.90,15.1,10.14,NaN,NaN
10,10,11.8,8.14,12.9,8.67,NaN,NaN
11,11,11.1,7.66,10.5,7.05,NaN,NaN
12,12,10.5,7.24,9.1,6.11,NaN,NaN
13,13,10.0,6.90,8.2,5.51,NaN,NaN
14,14,9.5,6.55,NaN,NaN,NaN,NaN
15,15,8.8,6.07,NaN,NaN,NaN,NaN

In [3]:

from scipy.stats import f_oneway # anova


weekly_control = ab_ret['weekly.7.99control'] [:50]   
weekly_treatment = ab_ret['weekly.9.99treatment'] [:50]

monthly_control = ab_ret['monthly.17.99control'][:13]
monthly_treatment = ab_ret['monthly.24.99treatment'][:13]

yearly_control = ab_ret['yearly.95.99ccontrol'][:2]
yearly_treatment = ab_ret['yearly.95.99treatment'][:2]


anova_result_weekly = f_oneway(weekly_control, weekly_treatment)
anova_result_monthly = f_oneway(monthly_control, monthly_treatment)
anova_result_yearly = f_oneway(yearly_control, yearly_treatment)


print(f"anova_result_weekly:" , anova_result_weekly)
print(f"anova_result_monthly:" , anova_result_monthly)
print(f"anova_result_yearly:" , anova_result_yearly)

anova_result_weekly: F_onewayResult(statistic=0.6173696870327502, pvalue=0.43392203341402036)
anova_result_monthly: F_onewayResult(statistic=0.5166787503347289, pvalue=0.4792024274138438)
anova_result_yearly: F_onewayResult(statistic=0.0, pvalue=1.0)

f-statistics values are between 0.5 and 0.6, showing that there are no big differences between the groups. The retention impact is similar for all groups. also the p-values are around 0.45, which means there isn't a significant difference between the groups.

In [4]:
from scipy.stats import ttest_ind # T test


weekly_control = ab_ret['weekly.7.99control'][:50]   
weekly_treatment = ab_ret['weekly.9.99treatment'][:50]

monthly_control = ab_ret['monthly.17.99control'][:13]
monthly_treatment = ab_ret['monthly.24.99treatment'][:13]

yearly_control = ab_ret['yearly.95.99ccontrol'][:2]
yearly_treatment = ab_ret['yearly.95.99treatment'][:2]




t_stat_w, p_value_w = ttest_ind(weekly_control, weekly_treatment, nan_policy='omit')
t_stat_m, p_value_m = ttest_ind(monthly_control, monthly_treatment, nan_policy='omit')
t_stat_y, p_value_y = ttest_ind(yearly_control, yearly_treatment, nan_policy='omit')


print(f"weekly T-statistic: {t_stat_w}, P-value: {p_value_w}")
print(f"monthly T-statistic: {t_stat_m}, P-value: {p_value_m}")
print(f"Yearly T-statistic: {t_stat_y}, P-value: {p_value_y}")

weekly T-statistic: 0.7857287617446308, P-value: 0.433922033414018
monthly T-statistic: 0.7188036938794411, P-value: 0.4792024274138441
Yearly T-statistic: 0.0, P-value: 1.0

we also used a t-test and saw that it gave the same p-values as the Anova, but the numbers were higher. This still means there’s no real impact on retention. 
So, because we didn't see any important changes in retention, we might look at other factors or metrics.